*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px; }

body {
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7; }

.container {
  max-width: 768px;
  margin: 0 auto; }
  .container-fluid {
    margin: 0;
    max-width: 100%; }
    .container-fluid .row {
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
    .container-fluid .col-1 {
      flex-basis: 8.33333%; }
    .container-fluid .col-2 {
      flex-basis: 16.66667%; }
    .container-fluid .col-3 {
      flex-basis: 25%; }
    .container-fluid .col-4 {
      flex-basis: 33.33333%; }
    .container-fluid .col-5 {
      flex-basis: 41.66667%; }
    .container-fluid .col-6 {
      flex-basis: 50%; }
    .container-fluid .col-7 {
      flex-basis: 58.33333%; }
    .container-fluid .col-8 {
      flex-basis: 66.66667%; }
    .container-fluid .col-9 {
      flex-basis: 75%; }
    .container-fluid .col-10 {
      flex-basis: 83.33333%; }
    .container-fluid .col-11 {
      flex-basis: 91.66667%; }
    .container-fluid .col-12 {
      flex-basis: 100%; }
    .container-fluid .col-sm-1 {
      flex-basis: 8.33333%; }
    .container-fluid .col-sm-2 {
      flex-basis: 16.66667%; }
    .container-fluid .col-sm-3 {
      flex-basis: 25%; }
    .container-fluid .col-sm-4 {
      flex-basis: 33.33333%; }
    .container-fluid .col-sm-5 {
      flex-basis: 41.66667%; }
    .container-fluid .col-sm-6 {
      flex-basis: 50%; }
    .container-fluid .col-sm-7 {
      flex-basis: 58.33333%; }
    .container-fluid .col-sm-8 {
      flex-basis: 66.66667%; }
    .container-fluid .col-sm-9 {
      flex-basis: 75%; }
    .container-fluid .col-sm-10 {
      flex-basis: 83.33333%; }
    .container-fluid .col-sm-11 {
      flex-basis: 91.66667%; }
    .container-fluid .col-sm-12 {
      flex-basis: 100%; }
    @media screen and (min-width: 768px) {
      .container-fluid .col-md-1 {
        flex-basis: 8.33333%; }
      .container-fluid .col-md-2 {
        flex-basis: 16.66667%; }
      .container-fluid .col-md-3 {
        flex-basis: 25%; }
      .container-fluid .col-md-4 {
        flex-basis: 33.33333%; }
      .container-fluid .col-md-5 {
        flex-basis: 41.66667%; }
      .container-fluid .col-md-6 {
        flex-basis: 50%; }
      .container-fluid .col-md-7 {
        flex-basis: 58.33333%; }
      .container-fluid .col-md-8 {
        flex-basis: 66.66667%; }
      .container-fluid .col-md-9 {
        flex-basis: 75%; }
      .container-fluid .col-md-10 {
        flex-basis: 83.33333%; }
      .container-fluid .col-md-11 {
        flex-basis: 91.66667%; }
      .container-fluid .col-md-12 {
        flex-basis: 100%; } }
    @media screen and (min-width: 992px) {
      .container-fluid .col-lg-1 {
        flex-basis: 8.33333%; }
      .container-fluid .col-lg-2 {
        flex-basis: 16.66667%; }
      .container-fluid .col-lg-3 {
        flex-basis: 25%; }
      .container-fluid .col-lg-4 {
        flex-basis: 33.33333%; }
      .container-fluid .col-lg-5 {
        flex-basis: 41.66667%; }
      .container-fluid .col-lg-6 {
        flex-basis: 50%; }
      .container-fluid .col-lg-7 {
        flex-basis: 58.33333%; }
      .container-fluid .col-lg-8 {
        flex-basis: 66.66667%; }
      .container-fluid .col-lg-9 {
        flex-basis: 75%; }
      .container-fluid .col-lg-10 {
        flex-basis: 83.33333%; }
      .container-fluid .col-lg-11 {
        flex-basis: 91.66667%; }
      .container-fluid .col-lg-12 {
        flex-basis: 100%; } }
    @media screen and (min-width: 1200px) {
      .container-fluid .col-xl-1 {
        flex-basis: 8.33333%; }
      .container-fluid .col-xl-2 {
        flex-basis: 16.66667%; }
      .container-fluid .col-xl-3 {
        flex-basis: 25%; }
      .container-fluid .col-xl-4 {
        flex-basis: 33.33333%; }
      .container-fluid .col-xl-5 {
        flex-basis: 41.66667%; }
      .container-fluid .col-xl-6 {
        flex-basis: 50%; }
      .container-fluid .col-xl-7 {
        flex-basis: 58.33333%; }
      .container-fluid .col-xl-8 {
        flex-basis: 66.66667%; }
      .container-fluid .col-xl-9 {
        flex-basis: 75%; }
      .container-fluid .col-xl-10 {
        flex-basis: 83.33333%; }
      .container-fluid .col-xl-11 {
        flex-basis: 91.66667%; }
      .container-fluid .col-xl-12 {
        flex-basis: 100%; } }
  .container .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .container .col-1 {
    flex-basis: 8.33333%; }
  .container .col-2 {
    flex-basis: 16.66667%; }
  .container .col-3 {
    flex-basis: 25%; }
  .container .col-4 {
    flex-basis: 33.33333%; }
  .container .col-5 {
    flex-basis: 41.66667%; }
  .container .col-6 {
    flex-basis: 50%; }
  .container .col-7 {
    flex-basis: 58.33333%; }
  .container .col-8 {
    flex-basis: 66.66667%; }
  .container .col-9 {
    flex-basis: 75%; }
  .container .col-10 {
    flex-basis: 83.33333%; }
  .container .col-11 {
    flex-basis: 91.66667%; }
  .container .col-12 {
    flex-basis: 100%; }
  .container .col-sm-1 {
    flex-basis: 8.33333%; }
  .container .col-sm-2 {
    flex-basis: 16.66667%; }
  .container .col-sm-3 {
    flex-basis: 25%; }
  .container .col-sm-4 {
    flex-basis: 33.33333%; }
  .container .col-sm-5 {
    flex-basis: 41.66667%; }
  .container .col-sm-6 {
    flex-basis: 50%; }
  .container .col-sm-7 {
    flex-basis: 58.33333%; }
  .container .col-sm-8 {
    flex-basis: 66.66667%; }
  .container .col-sm-9 {
    flex-basis: 75%; }
  .container .col-sm-10 {
    flex-basis: 83.33333%; }
  .container .col-sm-11 {
    flex-basis: 91.66667%; }
  .container .col-sm-12 {
    flex-basis: 100%; }
  @media screen and (min-width: 768px) {
    .container .col-md-1 {
      flex-basis: 8.33333%; }
    .container .col-md-2 {
      flex-basis: 16.66667%; }
    .container .col-md-3 {
      flex-basis: 25%; }
    .container .col-md-4 {
      flex-basis: 33.33333%; }
    .container .col-md-5 {
      flex-basis: 41.66667%; }
    .container .col-md-6 {
      flex-basis: 50%; }
    .container .col-md-7 {
      flex-basis: 58.33333%; }
    .container .col-md-8 {
      flex-basis: 66.66667%; }
    .container .col-md-9 {
      flex-basis: 75%; }
    .container .col-md-10 {
      flex-basis: 83.33333%; }
    .container .col-md-11 {
      flex-basis: 91.66667%; }
    .container .col-md-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 992px) {
    .container .col-lg-1 {
      flex-basis: 8.33333%; }
    .container .col-lg-2 {
      flex-basis: 16.66667%; }
    .container .col-lg-3 {
      flex-basis: 25%; }
    .container .col-lg-4 {
      flex-basis: 33.33333%; }
    .container .col-lg-5 {
      flex-basis: 41.66667%; }
    .container .col-lg-6 {
      flex-basis: 50%; }
    .container .col-lg-7 {
      flex-basis: 58.33333%; }
    .container .col-lg-8 {
      flex-basis: 66.66667%; }
    .container .col-lg-9 {
      flex-basis: 75%; }
    .container .col-lg-10 {
      flex-basis: 83.33333%; }
    .container .col-lg-11 {
      flex-basis: 91.66667%; }
    .container .col-lg-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 1200px) {
    .container .col-xl-1 {
      flex-basis: 8.33333%; }
    .container .col-xl-2 {
      flex-basis: 16.66667%; }
    .container .col-xl-3 {
      flex-basis: 25%; }
    .container .col-xl-4 {
      flex-basis: 33.33333%; }
    .container .col-xl-5 {
      flex-basis: 41.66667%; }
    .container .col-xl-6 {
      flex-basis: 50%; }
    .container .col-xl-7 {
      flex-basis: 58.33333%; }
    .container .col-xl-8 {
      flex-basis: 66.66667%; }
    .container .col-xl-9 {
      flex-basis: 75%; }
    .container .col-xl-10 {
      flex-basis: 83.33333%; }
    .container .col-xl-11 {
      flex-basis: 91.66667%; }
    .container .col-xl-12 {
      flex-basis: 100%; } }

.navbar {
  justify-content: center;
  align-items: center; }
