@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  overflow: hidden; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

button {
  outline: none;
  border: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7; }

.container {
  max-width: 768px;
  margin: 0 auto; }
  .container-fluid {
    margin: 0;
    max-width: 100%; }
    .container-fluid .row {
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
    .container-fluid .col-1 {
      flex-basis: 8.33333%; }
    .container-fluid .col-2 {
      flex-basis: 16.66667%; }
    .container-fluid .col-3 {
      flex-basis: 25%; }
    .container-fluid .col-4 {
      flex-basis: 33.33333%; }
    .container-fluid .col-5 {
      flex-basis: 41.66667%; }
    .container-fluid .col-6 {
      flex-basis: 50%; }
    .container-fluid .col-7 {
      flex-basis: 58.33333%; }
    .container-fluid .col-8 {
      flex-basis: 66.66667%; }
    .container-fluid .col-9 {
      flex-basis: 75%; }
    .container-fluid .col-10 {
      flex-basis: 83.33333%; }
    .container-fluid .col-11 {
      flex-basis: 91.66667%; }
    .container-fluid .col-12 {
      flex-basis: 100%; }
    .container-fluid .col-sm-1 {
      flex-basis: 8.33333%; }
    .container-fluid .col-sm-2 {
      flex-basis: 16.66667%; }
    .container-fluid .col-sm-3 {
      flex-basis: 25%; }
    .container-fluid .col-sm-4 {
      flex-basis: 33.33333%; }
    .container-fluid .col-sm-5 {
      flex-basis: 41.66667%; }
    .container-fluid .col-sm-6 {
      flex-basis: 50%; }
    .container-fluid .col-sm-7 {
      flex-basis: 58.33333%; }
    .container-fluid .col-sm-8 {
      flex-basis: 66.66667%; }
    .container-fluid .col-sm-9 {
      flex-basis: 75%; }
    .container-fluid .col-sm-10 {
      flex-basis: 83.33333%; }
    .container-fluid .col-sm-11 {
      flex-basis: 91.66667%; }
    .container-fluid .col-sm-12 {
      flex-basis: 100%; }
    @media screen and (min-width: 768px) {
      .container-fluid .col-md-1 {
        flex-basis: 8.33333%; }
      .container-fluid .col-md-2 {
        flex-basis: 16.66667%; }
      .container-fluid .col-md-3 {
        flex-basis: 25%; }
      .container-fluid .col-md-4 {
        flex-basis: 33.33333%; }
      .container-fluid .col-md-5 {
        flex-basis: 41.66667%; }
      .container-fluid .col-md-6 {
        flex-basis: 50%; }
      .container-fluid .col-md-7 {
        flex-basis: 58.33333%; }
      .container-fluid .col-md-8 {
        flex-basis: 66.66667%; }
      .container-fluid .col-md-9 {
        flex-basis: 75%; }
      .container-fluid .col-md-10 {
        flex-basis: 83.33333%; }
      .container-fluid .col-md-11 {
        flex-basis: 91.66667%; }
      .container-fluid .col-md-12 {
        flex-basis: 100%; } }
    @media screen and (min-width: 992px) {
      .container-fluid .col-lg-1 {
        flex-basis: 8.33333%; }
      .container-fluid .col-lg-2 {
        flex-basis: 16.66667%; }
      .container-fluid .col-lg-3 {
        flex-basis: 25%; }
      .container-fluid .col-lg-4 {
        flex-basis: 33.33333%; }
      .container-fluid .col-lg-5 {
        flex-basis: 41.66667%; }
      .container-fluid .col-lg-6 {
        flex-basis: 50%; }
      .container-fluid .col-lg-7 {
        flex-basis: 58.33333%; }
      .container-fluid .col-lg-8 {
        flex-basis: 66.66667%; }
      .container-fluid .col-lg-9 {
        flex-basis: 75%; }
      .container-fluid .col-lg-10 {
        flex-basis: 83.33333%; }
      .container-fluid .col-lg-11 {
        flex-basis: 91.66667%; }
      .container-fluid .col-lg-12 {
        flex-basis: 100%; } }
    @media screen and (min-width: 1200px) {
      .container-fluid .col-xl-1 {
        flex-basis: 8.33333%; }
      .container-fluid .col-xl-2 {
        flex-basis: 16.66667%; }
      .container-fluid .col-xl-3 {
        flex-basis: 25%; }
      .container-fluid .col-xl-4 {
        flex-basis: 33.33333%; }
      .container-fluid .col-xl-5 {
        flex-basis: 41.66667%; }
      .container-fluid .col-xl-6 {
        flex-basis: 50%; }
      .container-fluid .col-xl-7 {
        flex-basis: 58.33333%; }
      .container-fluid .col-xl-8 {
        flex-basis: 66.66667%; }
      .container-fluid .col-xl-9 {
        flex-basis: 75%; }
      .container-fluid .col-xl-10 {
        flex-basis: 83.33333%; }
      .container-fluid .col-xl-11 {
        flex-basis: 91.66667%; }
      .container-fluid .col-xl-12 {
        flex-basis: 100%; } }
  .container .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .container .col-1 {
    flex-basis: 8.33333%; }
  .container .col-2 {
    flex-basis: 16.66667%; }
  .container .col-3 {
    flex-basis: 25%; }
  .container .col-4 {
    flex-basis: 33.33333%; }
  .container .col-5 {
    flex-basis: 41.66667%; }
  .container .col-6 {
    flex-basis: 50%; }
  .container .col-7 {
    flex-basis: 58.33333%; }
  .container .col-8 {
    flex-basis: 66.66667%; }
  .container .col-9 {
    flex-basis: 75%; }
  .container .col-10 {
    flex-basis: 83.33333%; }
  .container .col-11 {
    flex-basis: 91.66667%; }
  .container .col-12 {
    flex-basis: 100%; }
  .container .col-sm-1 {
    flex-basis: 8.33333%; }
  .container .col-sm-2 {
    flex-basis: 16.66667%; }
  .container .col-sm-3 {
    flex-basis: 25%; }
  .container .col-sm-4 {
    flex-basis: 33.33333%; }
  .container .col-sm-5 {
    flex-basis: 41.66667%; }
  .container .col-sm-6 {
    flex-basis: 50%; }
  .container .col-sm-7 {
    flex-basis: 58.33333%; }
  .container .col-sm-8 {
    flex-basis: 66.66667%; }
  .container .col-sm-9 {
    flex-basis: 75%; }
  .container .col-sm-10 {
    flex-basis: 83.33333%; }
  .container .col-sm-11 {
    flex-basis: 91.66667%; }
  .container .col-sm-12 {
    flex-basis: 100%; }
  @media screen and (min-width: 768px) {
    .container .col-md-1 {
      flex-basis: 8.33333%; }
    .container .col-md-2 {
      flex-basis: 16.66667%; }
    .container .col-md-3 {
      flex-basis: 25%; }
    .container .col-md-4 {
      flex-basis: 33.33333%; }
    .container .col-md-5 {
      flex-basis: 41.66667%; }
    .container .col-md-6 {
      flex-basis: 50%; }
    .container .col-md-7 {
      flex-basis: 58.33333%; }
    .container .col-md-8 {
      flex-basis: 66.66667%; }
    .container .col-md-9 {
      flex-basis: 75%; }
    .container .col-md-10 {
      flex-basis: 83.33333%; }
    .container .col-md-11 {
      flex-basis: 91.66667%; }
    .container .col-md-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 992px) {
    .container .col-lg-1 {
      flex-basis: 8.33333%; }
    .container .col-lg-2 {
      flex-basis: 16.66667%; }
    .container .col-lg-3 {
      flex-basis: 25%; }
    .container .col-lg-4 {
      flex-basis: 33.33333%; }
    .container .col-lg-5 {
      flex-basis: 41.66667%; }
    .container .col-lg-6 {
      flex-basis: 50%; }
    .container .col-lg-7 {
      flex-basis: 58.33333%; }
    .container .col-lg-8 {
      flex-basis: 66.66667%; }
    .container .col-lg-9 {
      flex-basis: 75%; }
    .container .col-lg-10 {
      flex-basis: 83.33333%; }
    .container .col-lg-11 {
      flex-basis: 91.66667%; }
    .container .col-lg-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 1200px) {
    .container .col-xl-1 {
      flex-basis: 8.33333%; }
    .container .col-xl-2 {
      flex-basis: 16.66667%; }
    .container .col-xl-3 {
      flex-basis: 25%; }
    .container .col-xl-4 {
      flex-basis: 33.33333%; }
    .container .col-xl-5 {
      flex-basis: 41.66667%; }
    .container .col-xl-6 {
      flex-basis: 50%; }
    .container .col-xl-7 {
      flex-basis: 58.33333%; }
    .container .col-xl-8 {
      flex-basis: 66.66667%; }
    .container .col-xl-9 {
      flex-basis: 75%; }
    .container .col-xl-10 {
      flex-basis: 83.33333%; }
    .container .col-xl-11 {
      flex-basis: 91.66667%; }
    .container .col-xl-12 {
      flex-basis: 100%; } }

.navbar {
  height: 80px;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  font-size: 1.3rem; }
  .navbar .navbar-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .navbar .navbar-brand svg {
      fill: #e60023; }
    .navbar .navbar-brand .nav-logo-text {
      color: #e60023;
      padding: 4px 10px;
      font-weight: bold; }
  .navbar .navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .navbar .navbar-links ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem; }
      .navbar .navbar-links ul li {
        margin: 0px 8px; }
        .navbar .navbar-links ul li a {
          padding: 4px 10px;
          color: #000000;
          font-weight: bold;
          transition: color 300ms ease-in-out; }
          .navbar .navbar-links ul li a:hover {
            color: #e60023;
            text-decoration: underline; }
    .navbar .navbar-links .button-group .btn {
      margin: 0px 8px; }

.btn {
  padding: 16px 18px;
  border-radius: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold; }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    font-size: 1.6rem;
    position: relative;
    transition: all 0.2s; }
  .btn.btn-primary {
    background-color: #e60023;
    color: white;
    transition: all 300ms ease-in-out; }
    .btn.btn-primary:hover {
      background-color: #ad081b; }
  .btn.btn-default {
    background-color: #efefef;
    color: #000000;
    transition: all 300ms ease-in-out; }
    .btn.btn-default:hover {
      background-color: #e2e2e2; }
  .btn.btn-full-width {
    width: 100%; }
  .btn[role='blue-bg'] {
    background-color: #1877f2; }
    .btn[role='blue-bg']:hover {
      opacity: 0.8;
      background-color: #1877f2; }
  .btn[role='no-bg'] {
    background-color: transparent;
    color: #000000;
    border: 1px solid #dddddd; }
    .btn[role='no-bg']:hover {
      opacity: 0.9;
      background-color: #ddd; }

.hero-section {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative; }

.hero {
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 0px auto; }
  .hero .hero-banner .hero-static-text {
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%); }
  .hero .hero-banner .hero-dynamic-text .use-case {
    width: 100%;
    display: none;
    font-size: 50px;
    font-weight: bold;
    opacity: 0; }
    .hero .hero-banner .hero-dynamic-text .use-case.food {
      color: #c28b00; }
    .hero .hero-banner .hero-dynamic-text .use-case.home {
      color: #618c7b; }
    .hero .hero-banner .hero-dynamic-text .use-case.fashion {
      color: #0076d3; }
    .hero .hero-banner .hero-dynamic-text .use-case.gardening {
      color: #407a57; }
    .hero .hero-banner .hero-dynamic-text .use-case.active {
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);
      animation: scrollingUp 7.5s; }
  .hero .hero-banner .indicator {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000; }
    .hero .hero-banner .indicator ul {
      display: flex;
      justify-content: center;
      align-items: center; }
      .hero .hero-banner .indicator ul li {
        margin: 0px 4px; }
        .hero .hero-banner .indicator ul li .indicator-dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #e1e1e1;
          cursor: pointer;
          transition: all 300ms ease-in; }
          .hero .hero-banner .indicator ul li .indicator-dot.food-dot.active {
            background-color: #c28b00; }
          .hero .hero-banner .indicator ul li .indicator-dot.home-dot.active {
            background-color: #618c7b; }
          .hero .hero-banner .indicator ul li .indicator-dot.fashion-dot.active {
            background-color: #0076d3; }
          .hero .hero-banner .indicator ul li .indicator-dot.gardening-dot.active {
            background-color: #407a57; }

.gallery-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -2; }
  .gallery-wrapper .gallery {
    display: flex;
    width: 1750px;
    position: absolute;
    top: 120px;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto; }
    .gallery-wrapper .gallery .image-column {
      display: none;
      width: 25%;
      height: 100vh;
      margin: 0px 10px;
      opacity: 0; }
      .gallery-wrapper .gallery .image-column[role='first-col'] {
        margin-top: 0px; }
      .gallery-wrapper .gallery .image-column[role='second-col'], .gallery-wrapper .gallery .image-column[role='sixth-col'] {
        margin-top: 120px; }
      .gallery-wrapper .gallery .image-column[role='third-col'], .gallery-wrapper .gallery .image-column[role='fifth-col'] {
        margin-top: 180px; }
      .gallery-wrapper .gallery .image-column[role='fourth-col'] {
        margin-top: 240px; }
      .gallery-wrapper .gallery .image-column[role='first-col'] {
        animation: slideUp 7s; }
      .gallery-wrapper .gallery .image-column[role='second-col'] {
        animation: slideUp 7s;
        animation-delay: 0.2s; }
      .gallery-wrapper .gallery .image-column[role='third-col'] {
        animation: slideUp 7s;
        animation-delay: 0.5s; }
      .gallery-wrapper .gallery .image-column[role='fourth-col'] {
        animation: slideUp 7s;
        animation-delay: 1s; }
      .gallery-wrapper .gallery .image-column[role='fifth-col'] {
        animation: slideUp 7s;
        animation-delay: 1.4s; }
      .gallery-wrapper .gallery .image-column[role='sixth-col'] {
        animation: slideUp 7s;
        animation-delay: 1.8s; }
      .gallery-wrapper .gallery .image-column[role='seventh-col'] {
        animation: slideUp 7s;
        animation-delay: 2.2s; }
      .gallery-wrapper .gallery .image-column div .image-card {
        margin-bottom: 1rem; }
        .gallery-wrapper .gallery .image-column div .image-card div {
          width: 236px;
          height: 350px;
          border-radius: 6%; }
          .gallery-wrapper .gallery .image-column div .image-card div .image {
            background-image: url("https://i.pinimg.com/550x/a7/87/20/a78720c39a39ac50a2856420d636d113.jpg");
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            position: relative; }
    .gallery-wrapper .gallery.active .image-column {
      display: block; }
  .gallery-wrapper .overlay {
    position: fixed;
    bottom: 0;
    height: 180px;
    max-height: 20%;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), white); }

.scroll-down {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in;
  z-index: 1000;
  animation: bounce 2s infinite; }
  .scroll-down .arrow-icon {
    fill: white; }
    .scroll-down .arrow-icon.up {
      transform: rotate(180deg); }

@keyframes scrollingUp {
  0% {
    top: 140px;
    opacity: 0.5; }
  25% {
    top: 100px;
    opacity: 1; }
  50% {
    top: 100px;
    opacity: 1; }
  75% {
    top: 100px;
    opacity: 1; }
  100% {
    top: 60px;
    opacity: 0; } }

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0; }
  20% {
    transform: translateY(0px);
    opacity: 0.5; }
  40% {
    transform: translateY(0px);
    opacity: 1; }
  60% {
    transform: translateY(0px);
    opacity: 1; }
  80% {
    transform: translateY(0px);
    opacity: 1; }
  100% {
    transform: translateY(-100px);
    opacity: 0; } }

@keyframes bounce {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0px); } }

.login {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  padding-top: 8rem;
  animation: fadeIn 2s; }
  .login.active {
    display: block; }
  .login .login-left {
    justify-content: center;
    align-items: center;
    text-align: center; }
    .login .login-left h3 {
      color: white;
      align-self: center;
      margin-left: 4%;
      margin-bottom: 2%;
      min-width: 30%;
      max-width: 80%;
      font-size: 70px;
      font-weight: 600; }
  @media screen and (max-width: 1366px) {
    .login {
      padding-top: 0px; } }

.login-form {
  max-width: 395px;
  min-height: 400px;
  padding: 20px 10px 24px;
  border-radius: 32px;
  background-color: #ffffff;
  text-align: center;
  position: relative; }
  .login-form .login-logo {
    margin-bottom: 8px; }
  .login-form .login-header {
    margin-bottom: 1rem; }
    .login-form .login-header h4 {
      color: #333333;
      font-size: 36px;
      font-weight: 600;
      -webkit-font-smoothing: antialiased;
      letter-spacing: -1.2px;
      word-break: break-word;
      line-height: 1; }
    .login-form .login-header span {
      font-size: 1rem;
      color: #333333;
      font-size: 16px;
      font-weight: normal; }
  .login-form .login-body input {
    outline: none;
    border: 1px solid #dddddd;
    min-height: 48px;
    border-radius: 16px;
    width: 60%;
    margin: 4px 0px;
    padding: 8px 6px 8px 12px;
    transition: all 200ms ease-in-out; }
    .login-form .login-body input:focus {
      border: 1px solid dodgerblue; }
  .login-form .login-actions .button-group {
    width: 60%;
    margin: 0px auto; }
    .login-form .login-actions .button-group .btn {
      margin: 4px 0px; }
  .login-form .terms-of-service span {
    display: inline-block;
    width: 255px;
    font-size: 11px;
    color: #767676; }
    .login-form .terms-of-service span a {
      color: #000000;
      font-weight: bold;
      cursor: pointer; }
  .login-form .already-member {
    margin-bottom: 3rem; }
    .login-form .already-member button {
      font-weight: bold;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer; }
  .login-form .login-form-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 62px;
    width: 100%;
    border-radius: 0px 0px 32px 32px;
    overflow: hidden; }
    .login-form .login-form-footer button {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: #efefef;
      font-weight: bold; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding-top: 6px;
  background-color: #ffffff;
  display: none; }
  .footer.active {
    display: block; }
  .footer .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .footer .footer-links .footer-link {
      font-size: 11px;
      font-weight: bold;
      margin: 0px 8px;
      color: #000000;
      transition: all 300ms ease-in-out; }
      .footer .footer-links .footer-link:hover {
        color: #1877f2; }

.sign-up-modal, .log-in-modal {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500; }
  .sign-up-modal.hide, .log-in-modal.hide {
    display: none; }
    .sign-up-modal.hide .login-form, .log-in-modal.hide .login-form {
      display: none; }
  .sign-up-modal.show, .log-in-modal.show {
    display: block; }
    .sign-up-modal.show .overlay, .log-in-modal.show .overlay {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1600; }
    .sign-up-modal.show .login-form, .log-in-modal.show .login-form {
      display: block;
      width: 50%;
      height: 80%; }
      .sign-up-modal.show .login-form .login-logo .toolbar, .log-in-modal.show .login-form .login-logo .toolbar {
        position: relative; }
        .sign-up-modal.show .login-form .login-logo .toolbar p, .log-in-modal.show .login-form .login-logo .toolbar p {
          align-items: center; }
        .sign-up-modal.show .login-form .login-logo .toolbar .close-button, .log-in-modal.show .login-form .login-logo .toolbar .close-button {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: 50px;
          height: 30px;
          cursor: pointer;
          text-align: center; }
          .sign-up-modal.show .login-form .login-logo .toolbar .close-button:after, .log-in-modal.show .login-form .login-logo .toolbar .close-button:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: #eee;
            z-index: 1600;
            opacity: 0;
            transition: opacity 300ms ease-in-out; }
          .sign-up-modal.show .login-form .login-logo .toolbar .close-button:hover:after, .log-in-modal.show .login-form .login-logo .toolbar .close-button:hover:after {
            opacity: 1; }
          .sign-up-modal.show .login-form .login-logo .toolbar .close-button svg, .log-in-modal.show .login-form .login-logo .toolbar .close-button svg {
            width: 18px;
            height: 18px;
            margin-right: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1800; }
  .sign-up-modal .login-form, .log-in-modal .login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000; }

.log-in-modal.show .login-form {
  height: 70%; }
  .log-in-modal.show .login-form .forgot-password {
    text-align: left;
    padding-left: 5rem;
    margin-bottom: 1rem; }
    .log-in-modal.show .login-form .forgot-password a {
      font-weight: bold;
      font-size: 14px;
      color: #000000; }
  .log-in-modal.show .login-form .not-a-member {
    margin-top: 0.7rem;
    position: relative; }
    .log-in-modal.show .login-form .not-a-member:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 50%;
      height: 1px;
      background-color: #dedede; }
    .log-in-modal.show .login-form .not-a-member button {
      margin-top: 0.7rem;
      font-size: 12px;
      font-weight: bold;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 300ms ease-in-out; }
      .log-in-modal.show .login-form .not-a-member button:hover {
        color: dodgerblue; }

.masonry-wrapper {
  padding: 1.5em;
  width: 96vw;
  margin-right: auto;
  margin-left: auto; }

.masonry {
  columns: 1;
  column-gap: 1rem; }

.masonry-item {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  margin-bottom: 1.2rem;
  width: 100%;
  position: relative;
  cursor: zoom-in; }
  .masonry-item .pin-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: relative;
    overflow: hidden; }
  .masonry-item:hover .mansory-content {
    opacity: 1; }
  .masonry-item .mansory-content {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff; }
    .masonry-item .mansory-content .content-header {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .masonry-item .mansory-content .content-header .board {
        cursor: pointer; }
        .masonry-item .mansory-content .content-header .board .selected-board {
          display: flex; }
    .masonry-item .mansory-content .content-footer {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .masonry-item .mansory-content .content-footer .link {
        min-width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        border-radius: 40px;
        background-color: #dedede;
        color: #000000;
        cursor: pointer; }
        .masonry-item .mansory-content .content-footer .link:hover {
          background-color: #ffffff; }
        .masonry-item .mansory-content .content-footer .link svg path {
          fill: #000000; }
      .masonry-item .mansory-content .content-footer .share-actions {
        min-width: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        .masonry-item .mansory-content .content-footer .share-actions .share, .masonry-item .mansory-content .content-footer .share-actions .actions {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          border-radius: 50%;
          align-items: center;
          background-color: #dedede;
          cursor: pointer; }
          .masonry-item .mansory-content .content-footer .share-actions .share:hover, .masonry-item .mansory-content .content-footer .share-actions .actions:hover {
            background-color: #ffffff; }
          .masonry-item .mansory-content .content-footer .share-actions .share svg path, .masonry-item .mansory-content .content-footer .share-actions .actions svg path {
            fill: #000000; }
        .masonry-item .mansory-content .content-footer .share-actions .actions .actions-popup.hide {
          display: none; }
  .masonry-item .mansory-img {
    max-width: 100%;
    vertical-align: middle; }
  .masonry-item .mansory-title {
    margin: 8px 0px; }
    .masonry-item .mansory-title span {
      text-transform: capitalize;
      font-weight: bold; }

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    columns: 2; } }

@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 3; } }

@media only screen and (min-width: 1200px) {
  .masonry {
    columns: 5; } }

@media only screen and (min-width: 1366px) {
  .masonry {
    columns: 7; } }

.masonry-item, .masonry-img {
  border-radius: 10px;
  overflow: hidden; }
