.hero-section {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
}

.hero {
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 0px auto;

  .hero-banner {
    // position: relative;

    .hero-static-text {
      width: 100%;
      font-size: 60px;
      font-weight: bold;
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    .hero-dynamic-text {
      .use-case {
        width: 100%;
        display: none;
        font-size: 50px;
        font-weight: bold;
        opacity: 0;
        &.food {
          color: $yellow;
        }
        &.home {
          color: $light-green;
        }
        &.fashion {
          color: $blue;
        }
        &.gardening {
          color: $green;
        }

        &.active {
          display: block;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0%);
          animation: scrollingUp 7.5s;
        }
      }
    }
    .indicator {
      position: absolute;
      top: 200px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1000;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          margin: 0px 4px;
          .indicator-dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $grey;
            cursor: pointer;
            transition: all 300ms ease-in;
            &.food-dot.active {
              background-color: $yellow;
            }
            &.home-dot.active {
              background-color: $light-green;
            }
            &.fashion-dot.active {
              background-color: $blue;
            }
            &.gardening-dot.active {
              background-color: $green;
            }
          }
        }
      }
    }
  }
}

.gallery-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -2;
  .gallery {
    display: flex;
    width: 1750px;
    position: absolute;
    top: 120px;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;

    .image-column {
      display: none;
      width: 25%;
      height: 100vh;
      margin: 0px 10px;
      opacity: 0;

      &[role='first-col'] {
        margin-top: 0px;
      }
      &[role='second-col'],
      &[role='sixth-col'] {
        margin-top: 120px;
      }
      &[role='third-col'],
      &[role='fifth-col'] {
        margin-top: 180px;
      }
      &[role='fourth-col'] {
        margin-top: 240px;
      }

      // Animation
      &[role='first-col'] {
        animation: slideUp 7s;
      }
      &[role='second-col'] {
        animation: slideUp 7s;
        animation-delay: 0.2s;
      }
      &[role='third-col'] {
        animation: slideUp 7s;
        animation-delay: 0.5s;
      }
      &[role='fourth-col'] {
        animation: slideUp 7s;
        animation-delay: 1s;
      }
      &[role='fifth-col'] {
        animation: slideUp 7s;
        animation-delay: 1.4s;
      }
      &[role='sixth-col'] {
        animation: slideUp 7s;
        animation-delay: 1.8s;
      }
      &[role='seventh-col'] {
        animation: slideUp 7s;
        animation-delay: 2.2s;
      }
      div {
        .image-card {
          margin-bottom: 1rem;
          div {
            width: 236px;
            height: 350px;
            border-radius: 6%;
            .image {
              background-image: url('https://i.pinimg.com/550x/a7/87/20/a78720c39a39ac50a2856420d636d113.jpg');
              background-size: cover;
              background-position: 50%;
              background-repeat: no-repeat;
              height: 100%;
              width: 100%;
              position: relative;
            }
          }
        }
      }
    }

    &.active .image-column {
      display: block;
    }
  }

  .overlay {
    position: fixed;
    bottom: 0;
    height: 180px;
    max-height: 20%;
    width: 100%;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgb(255, 255, 255)
    );
  }
}

.scroll-down {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);

  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 300ms ease-in;
  z-index: 1000;
  .arrow-icon {
    fill: white;

    &.up {
      transform: rotate(180deg);
    }
  }

  animation: bounce 2s infinite;
}

@keyframes scrollingUp {
  0% {
    top: 140px;
    opacity: 0.5;
  }

  25% {
    top: 100px;
    opacity: 1;
  }

  50% {
    top: 100px;
    opacity: 1;
  }

  75% {
    top: 100px;
    opacity: 1;
  }

  100% {
    top: 60px;
    opacity: 0;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  20% {
    transform: translateY(0px);
    opacity: 0.5;
  }
  40% {
    transform: translateY(0px);
    opacity: 1;
  }
  60% {
    transform: translateY(0px);
    opacity: 1;
  }
  80% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
