.masonry-wrapper {
  padding: 1.5em;
  width: 96vw;
  margin-right: auto;
  margin-left: auto;
}
.masonry {
  columns: 1;
  column-gap: 1rem;
}
.masonry-item {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  margin-bottom: 1.2rem;
  width: 100%;
  position: relative;
  cursor: zoom-in;
  .pin-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
  }
  &:hover {
    .mansory-content {
      opacity: 1;
    }
  }
  .mansory-content {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    .content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .board {
        cursor: pointer;
        .selected-board {
          display: flex;
        }
      }
    }
    .content-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .link {
        min-width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        border-radius: 40px;
        background-color: #dedede;
        color: #000000;
        cursor: pointer;

        &:hover {
          background-color: #ffffff;
        }
          svg {
            path {
          fill: #000000;
            }
        }
      }
      .share-actions {
        min-width: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        .share, .actions {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    background-color: #dedede;
        cursor: pointer;

        &:hover {
          background-color: #ffffff;
        }
    svg {
      path {
      fill: #000000;}
    }
        }
        .actions {
        .actions-popup {
          &.hide {
          display: none;}
      }}
      }
    }
  }
  .mansory-img {
    max-width: 100%;
    vertical-align: middle;
  }
  .mansory-title {
    margin: 8px 0px;
    span {
      text-transform: capitalize;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {  .masonry {
    columns: 2;
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 3;
  }
}
@media only screen and (min-width: 1200px) {
  .masonry {
    columns: 5;
  }
}
@media only screen and (min-width: 1366px) {
  .masonry {
    columns: 7;
  }
}
.masonry-item, .masonry-img {
  border-radius: 10px;
  overflow: hidden;
}
// .masonry-item {
//   filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
//   transition: filter .25s ease-in-out;
// }
// .masonry-footer {
//   font-size: .75em;
//   opacity: .25;
//   text-align: center;
//   padding-top: 3em; 
//   padding-bottom: 3em;
//   margin-bottom: -1.5em;
//   transition: opacity 1s ease-in-out;
// }
// .masonry-footer a {
//   color: currentColor;
// }
// .masonry-footer:hover, .masonry-footer:active, .masonry-footer:focus {
//   opacity: .75;
// }
