.sign-up-modal, .log-in-modal {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1500;

  &.hide {
    display: none;
    .login-form {
      display: none;
    }
  }
  &.show {
    display: block;

    .overlay {
      width: 100vw;
      height: 100vh;

      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);

      z-index: 1600;
    }

    .login-form {
      display: block;
      width: 50%;
      height: 80%;
      .login-logo {
      .toolbar {
        position: relative;
        p {
          align-items: center;
        }
        .close-button {
            position: absolute;
            top: 0;
            right: 0;
          display:  block;
          width: 50px;
          height: 30px;

          cursor: pointer;
          text-align: center;
                          
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) ;
      
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: #eee;
          z-index: 1600;
          opacity: 0;
          transition: opacity 300ms ease-in-out;
        }

        &:hover {
          &:after {
            opacity: 1;
          }
        }

          svg {
            width: 18px;
            height: 18px;
            margin-right: 10px;
            position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) ;
            z-index: 1800;
          }
      }
      }
      }
    }
  }

  .login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
  }
}

.log-in-modal.show {
.login-form {
  height: 70%;
  .forgot-password {
    text-align: left;
    padding-left: 5rem;
    margin-bottom: 1rem;
    a {
      font-weight: bold;
      font-size: 14px;
      color: #000000;
    }
   }
   .not-a-member {
     margin-top: 0.7rem;
     position: relative;

     &:before {
       content: "";
       position: absolute;
       top: 0;
       left: 50%;
       transform: translate(-50%, 0%);
       width: 50%;
       height: 1px;
       background-color: #dedede;
     }
     button {
       margin-top: 0.7rem;
      font-size: 12px;
      font-weight: bold;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      &:hover {
        color: dodgerblue;
      }
     }
   }
  }
}
