.navbar {
  height: 80px;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;

  font-size: 1.3rem;
  .navbar-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    svg {
      fill: $red;
    }

    .nav-logo-text {
      color: $red;
      padding: 4px 10px;
      font-weight: bold;
    }
  }

  .navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      li {
        margin: 0px 8px;
        a {
          padding: 4px 10px;
          color: $black;
          font-weight: bold;
          transition: color 300ms ease-in-out;
          &:hover {
            color: $red;
            text-decoration: underline;
          }
        }
      }
    }

    .button-group {
      .btn {
        margin: 0px 8px;
      }
    }
  }
}
