.navbar {
  justify-content: center;
  align-items: center; }
  .navbar .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center; }
  .navbar .navbar-links ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navbar .navbar-links ul li {
      margin: 0px 10px; }
      .navbar .navbar-links ul li a {
        padding: 4px 10px;
        color: black; }
